<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="FalatGTSEntities" connectionString="metadata=res://*/FalatGTS.csdl|res://*/FalatGTS.ssdl|res://*/FalatGTS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Atlas;user id=sa;password=123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LogDBEntities" connectionString="metadata=res://*/LogDB.csdl|res://*/LogDB.ssdl|res://*/LogDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LogMFA;user id=sa;password=123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="FolderPath" value="D:\Deleted\Atlas-4-13-2016\Taraddod\" />
    <add key="LogFile" value="LogFile.txt" />
    <add key="MinutesTimeOut" value="1440" />
    <add key="ImportedPath" value="D:\Deleted\Atlas-4-13-2016\Taraddod\imported\" />
    <add key="ExcelPath" value="D:\Deleted\Atlas-4-13-2016\Taraddod\imported\result.xls" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>